@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&family=Nanum+Pen+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

body {
    height: 100vh;
    margin: 0 0 0 0;
}

.bg {
    height: 100%;
    
    /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('img/passion.jpg') no-repeat center; */
    /* -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; */
    background-size: cover;

    display: flex;
    /* flex-direction: column; */
}

.text {
    text-align: right;
    margin: auto;
    margin-left: 20%;
    margin-right: 20%;
    word-break: keep-all;

    font-family: 'Do Hyeon', sans-serif;
    color: white; 
}

#content {
    margin-bottom: 10%;

    font-size: 40pt;
}

#author {
    font-size: 30pt;

}

@media (max-width: 768px) {
    .text {
        margin-left: 5%;
        margin-right: 5%;
    }
    
    #content {
        margin-bottom: 10%;
    
        font-size: 30pt;
    }
    
    #author {
        font-size: 20pt;
    }
}
